{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {% if site.data.settings.author.author__avatar %}
          <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div>
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>

          {% if site.data.settings.mailchimp.enable == true %}
          <div class="hero__subscribe">
            <form class="subscribe-form validate"
              action="{% if site.data.settings.mailchimp.mailchimp__identifier %}//{{site.data.settings.mailchimp.mailchimp__identifier}}{% else %}#{% endif %}" method="POST"
              id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
              <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
              <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                placeholder="{% if site.data.settings.mailchimp.mailchimp__input__text %}{{ site.data.settings.mailchimp.mailchimp__input__text }}{% else %}Email address{% endif %}">
              <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                site.data.settings.mailchimp.mailchimp__button__text }}</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}