{% if site.data.settings.own.enable == true %}
<!-- begin owns -->
<div class="container">
  <section class="section works animate">
    <div class="row">

      <div class="col col-4 col-d-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.own.own__title }}</h2>
          {% if site.data.settings.own.own__description %}
          <p class="section__description">{{ site.data.settings.own.own__description }}</p>
          {% endif %}
          <a href="{{ '/own' | relative_url }}" class="section__link">Show all own projects <i class="ion ion-md-arrow-forward"></i></a>
        </div>
      </div>

      <div class="col col-8 col-d-12">
        <div class="row">
          {% assign sorted = site.owns | sort: 'from' | reverse %}
          {% for own in sorted limit:4 %}
          <article class="own col col-6 col-d-12">
            <div class="work__content">
              <a href="{{ own.url }}" class="work__image">
                <img class="lazy" data-src="{{ own.image }}" alt="{{ own.title }}">
              </a>
              <div class="work__info">
                {% if own.category %}
                <div class="work__category">{{ own.category }}</div>
                {% endif %}
                <h3 class="work__title"><a href="{{ own.url }}">{{ own.title }}</a></h3>
                {% if own.description %}
                <p class="work__description">{{ own.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</div>
<!-- end owns -->
{% endif %}