{% if site.data.settings.blog.enable == true %}
<!-- begin blog -->
<div class="container">
  <div class="row">
    <div class="col col-12">

      <section class="section section-small animate">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.blog__settings.blog__title }}</h2>
          </div>
          {% if site.data.settings.blog__settings.blog__description %}
          <p class="section__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>

        <div class="section__inner">
        {% if site.posts.size > 0 %}
          {% for post in site.posts offset:0 limit:3 %}
            {% include article.html %}
          {% endfor %}
        {% endif %}
        </div>

        <div class="section__navigation">
          <a href="{{ '/blog' | relative_url }}" class="button button--primary section-button">All posts <i class="ion ion-md-arrow-forward"></i></a>
        </div>
      </section>

    </div>
  </div>
</div>
<!-- end blog -->
{% endif %}