---
layout: default
title: My work
description: I shows only the best websites and portfolios built completely with passion, simplicity & creativity!
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.work.work__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.work.work__description %}
      <p class="page-description">{{ site.data.settings.work.work__description }}</p>
    {% endif %}
  </div>
</div>

<div class="work-page container animate">
  <div class="row">
    {% for work in site.works reversed %}
      <article class="work col col-4 col-d-6 col-t-12">
        <div class="work__content">
          <a href="{{ work.url }}" class="work__image">
            <img class="lazy" data-src="{{ work.image }}" alt="{{ work.title }}">
          </a>
          <div class="work__info">
            {% if work.category %}
            <div class="work__category">{{ work.category }}</div>
            {% endif %}
            <h3 class="work__title"><a href="{{ work.url }}">{{ work.title }}</a></h3>
            {% if work.description %}
            <p class="work__description">{{ work.description }}</p>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>