---
layout: default
---

<div class="work-head">
  <div class="container">

    <div class="row">
      {% if page.image %}
      <div class="col col-5 col-d-12">
        <div class="work-head__left">
          <div class="work-head__image">
            <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
          </div>
          {% if page.image_caption %}
          <div class="page-image-caption">{{ page.image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="col col-7 col-d-12">
        <div class="work-head__right">
          {% if page.category %}
          <div class="work-category">{{ page.category }}</div>
          {% endif %}
          <h1 class="page-title">{{ page.title }}</h1>
          {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
          {% endif %}
          <ul class="work-meta list-reset">
            {% if page.date %}
            <li class="work-meta__item"><strong>Date:</strong> <span>{{ page.date | date_to_string }}</span></li>
            {% endif %}
            {% if page.client %}
            <li class="work-meta__item"><strong>Client:</strong> <span>{{ page.client }}</span></li>
            {% endif %}
            {% if page.role %}
            <li class="work-meta__item"><strong>Role:</strong> <span>{{ page.role }}</span></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container animate">

  <div class="page">
    {{ content }}
  </div>

  <section class="section work-navigation">
    <div class="row">

      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Next</h2>
          </div>
        </div>

        <div class="row">
          {% if page.previous.url %}
          <article class="work col col-6 col-d-12">
            <div class="work__content">
              <a href="{{ page.previous.url }}" class="work__image">
                <img class="lazy" data-src="{{ page.previous.image }}" alt="{{ page.previous.title }}">
              </a>
              <div class="work__info">
                {% if page.previous.category %}
                <div class="work__category">{{ page.previous.category }}</div>
                {% endif %}
                <h3 class="work__title"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
                {% if page.previous.category %}
                <p class="work__description">{{ page.previous.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endif %}
          {% if page.next.url %}
          <article class="work col col-6 col-d-12">
            <div class="work__content">
              <a href="{{ page.next.url }}" class="work__image">
                <img class="lazy" data-src="{{ page.next.image }}" alt="{{ page.next.title }}">
              </a>
              <div class="work__info">
                {% if page.next.category %}
                <div class="work__category">{{ page.next.category }}</div>
                {% endif %}
                <h3 class="work__title"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
                {% if page.next.category %}
                <p class="work__description">{{ page.next.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>